@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    width: 1280px;
    margin: 0 auto;
}
.logo>span>a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    display: inline-flex;
    padding-top: 63px;
    list-style-type: none;
}
.black>a {
    color: black;
}
.blu>a {
    color: #4BCAFF;
}
.header {
    background: #35444F;
    text-align: center;
}
.header_list {
    height: 69px;
    left: 0;
    top: 117px;
    display: flex;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    justify-content: center;


}
.header>ul>li>a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #FFFFFF;

    border-left: 1px solid #FFFFFF;
    padding: 20px 40px;
    transform: rotate(90deg);

}
.header_item_last>a {
    border-right: 1px solid #FFFFFF;
}
main {
    width: 1280px;
    height: 885px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.aside {
    width: 344px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #000000;
}
.aside a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    color: #495863;
}
.sideBar_section {
    height: inherit;
}
.sideBar_item {
    padding: 26px 44px ;
}
.article {
    width: 885px;
    height: 832px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text {
    width: inherit;
    text-align: left;
    height: inherit;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 0;
}
.image {
    padding: 0;
    margin-bottom: 3px;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image>img {
    height: 381px;
    width:320px;
    padding-top: 75px;
    padding-bottom: 64px;

}
.text>p {
    margin: 34px 0 0 ;
}
footer {
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer_list {
    padding: 20px 40px 21px;
    margin: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}
.footer_bar>ul>li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;

}
.footer_bar>ul>li>a {
    color: #0C1927;
    text-decoration: none;
}
.footer_item_last>a {
    font-size: 24px;
    line-height: 24px;
    padding-left: 120px;
}